<%- include("partials/header"); -%>

<h1> <%= title%> </h1>
<p> <%= content %> </p>
<form action="/delete" method="POST">
<button type="submit" value ="<%= title%>" name="delete">Delete</button>
</form>


<%- include("partials/footer"); -%>
